* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	--color-header: #f4efec;
	--color-text: #cdc6c3;
	--gallery-gap: calc(var(--index) * 7.5)
}
@font-face {
	font-family: raleway-c;
	src: url(../fonts/raleway-regular.woff2);
}
@font-face {
	font-family: outfit-c;
	src: url(../fonts/outfit-regular.woff2);
}
h1, h2, h3, h4, h5, h6 {
	font-family: outfit-c;
}
/* will-change */
.content, .hero, .main-header, .gallery > * {
	will-change: transform;
}
html {
  overflow-x: hidden; /* Скрывает горизонтальную прокрутку */
}
body {
	background-image: url(../img/bg.jpg);
	background-size: 50px;
	color: #fafafa;
	font-family: raleway-c;
	overflow-x: hidden;
}
.hero {
	width: calc(var(--index) * 36);
	position: absolute;
	left: 46vw;
	top: -50vh;
	z-index: -1;
}
@media (max-width: 770px) {
	.hero {
		left: 32vw;
	}
}
@media (max-width: 560px) {
	.hero {
		left: 15vw;
		top: -10vh;
	}
}
@media (max-width: 500px) {
	.hero {
		left: 9vw;
		top: -10vh;
	}
}
.main-header {
	height: 100vh;
}
.container {
	padding: 0 7vw;
}
.main-title {
	font-size: calc(var(--index) * 7);
	position: absolute;
	width: min-content;
	bottom: 12vh;
	line-height: .9;
}
@media (max-width: 557px){
	.main-title{
		font-size: calc(var(--index) * 6);
	}
}
.main-title span{
	font-family: raleway-c;
	font-weight: 200;
}
.gallery {
	display: flex;
	padding: calc(var(--index) * 8) 0;
}
@media (max-width: 700){
	.gallery{
		padding: calc(var(--index) * 6) 0;
	}
}
.gallery > * {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.gallery__item {
	max-width: calc(var(--index) * 21);
	margin-bottom: var(--gallery-gap);
	max-height: 180vh;
	border-radius: 8px;
}
@media (max-width: 820px){
	.gallery__item{
		max-width: calc(var(--index) * 12);
	}
}
.gallery__left {
	margin-top: calc(var(--gallery-gap) * 1.75);
}
.gallery__right .gallery__item {
	margin: 0;
	margin-top: var(--gallery-gap);
}
.text-block {
	color: var(--color-text);
	position: relative;
}
.text-block__h {
	font-size: 2rem;
	line-height: 2.4rem;
	color: var(--color-header);
	margin-bottom: 1.5rem;
}
@media (max-width: 698px) {
	.text-block__h {
		font-size: 1.5rem;
		line-height: 2rem;
	}
}
.text-block__p {
	line-height: 1.75;
}
.footer_container {
	display: flex;
	justify-content: space-between;
	padding: 0px 0px 20px 0;
}
@media (max-width: 700px){
	.footer_container{
		font-size: 12px;
	}
}
.designer {
	cursor: pointer;
}
.developer {
	cursor: pointer;
}
.border-ground{
	border-radius: 30px;
	cursor: pointer;
}
.gallery__item {
  will-change: transform, opacity;
}




/* Стиль для прелоадера */
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff; /* Цвет фона прелоадера */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 9999; /* Поверх всех элементов сайта */
}

/* Анимация загрузки (spinner) */
.loader {
	border: 8px solid #f3f3f3; /* Светлая граница */
	border-top: 8px solid #3498db; /* Цвет анимации */
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 1s linear infinite;
	margin-bottom: 20px; /* Отступ для процентов */
}

/* Стиль для отображения процентов */
#loading-percentage {
	font-size: 18px;
	font-weight: bold;
	color: #3498db; /* Цвет текста процентов */
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}